/*
 * Using color scheme from:
    http://www.colourlovers.com/palette/367239/the_shrike
    http://www.colourlovers.com/palette/1533834/Ruby_Wheels
 * Font is from http://www.yanone.de/typedesign/kaffeesatz/
*/

$red: #95040B;
$code-white: #F2DCC2;
$burple: #010326;
$white: #D9DADE;

body {
  background: $red;
  font-family: "Yanone Kaffeesatz", Helvetica, Arial, sans-serif;
}

h1, .just-title {
  font-weight: bold;
}

li > code {
  font-size: 90%;
}

p > code {
  font-size: 90%;
}

pre, code {
  color: $code-white;
}

.content > .pull-right {
  text-align: right;
}

.content > p {
  text-align: left;
}

#preso, .slide {
  background: $burple;
  color: $white;
}

.content > ul > li {
  padding: .1em;
}

.bullets > ul > li {
  text-align: left;
}

.smbullets > ul > li {
  text-align: left;
}

.questions {
  background: $red;
}
